<div class="container">
    <div class="row justify-content-center">
        <img src="../../../assets/login.svg" heigth="250px" width="250px" alt="">
    </div>
    <div class="row justify-content-center">        
        <div class="col-5 input-group mb-1">
            <div class="input-group-prepend">
                <span class="input-group-text">Usuario</span>
            </div>
            <input type="text" class="form-control" name="username" [(ngModel)]="username">
        </div>
    </div>
    <div class="row justify-content-center mb-1">        
        <div class="col-5 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Contraseña</span>
            </div>
            <input type="password" class="form-control" name="username" [(ngModel)]="password">
        </div>
    </div>
    <div class="row justify-content-center">        
        <div class="col-5 input-group justify-content-center">
            <button routerLink="/clase1/bienvenido" class="col btn btn-secondary">Ingresar</button>
        </div>
    </div>
</div>
