

  
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Listado de actores</h1>
        <p>Haga click debajo para ver el listado de actores</p>
      <p><a class="btn btn-primary btn-lg" href="" role="button">Listado</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Para borrar</h2>
        <p><a class="btn btn-secondary" (click)="borrar()" srole="button">Borrar</a></p>
      </div>
      <div class="col-md-4">
        <h2>Solo mostrar</h2>
        <p><a class="btn btn-secondary" role="button">Mostrar</a></p>
      </div>
      <div class="col-md-4">
        <h2>Modificar</h2>
        <p><a class="btn btn-secondary" role="button">Modificar</a></p>
      </div>
    </div>

    <hr>

  </div>