<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-4">
            <app-card-ejercicio [link]="'/clase1/calcularpromedio'" [titulo]="'Calular promedio'" [clase]="'1'"></app-card-ejercicio>
        </div>
        <div class="col-4">
            <app-card-ejercicio [link]="'/clase1/login'" [titulo]="'Ejercicio de login'" [clase]="'1'"></app-card-ejercicio>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-4">
            <app-card-ejercicio [link]="'/clase-io/bienvenido'" [titulo]="'Ejercicio Input/Output'" [clase]="'IO'"></app-card-ejercicio>
        </div>
        <div class="col-4">
            <app-card-ejercicio [link]="'/clase-pp/home'" [titulo]="'Ejercicio pre-parcial'" [clase]="'Pre-parcial'"></app-card-ejercicio>        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-4">
            <app-card-ejercicio [link]="'parcial/home'" [titulo]="'Primer Parcial'" [clase]="'Parcial'"></app-card-ejercicio>
        </div>
    </div>
</div>