<div class="col-12">
    <div *ngFor="let obj of listado" class="card shadow-lg m-2">
        <!-- <div class="card-header"> {{obj.Nombre}} {{obj.Apellido}} 
        </div> -->
        <div class="card-body">
            <span class="row">
                <span class="col-8 justify-content-start">
                    <h5 class="mx-auto">{{obj.Nombre}} {{obj.Apellido}}</h5>
                </span>
                <span class="col-4 justify-content-end">
                    <button (click)="emitirUsuario(obj)" class="btn btn-primary btn-sm mx-auto">Seleccionar</button>
                </span>
            </span>
        </div>  
    </div>
</div>