<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-4">
            <app-card-ejercicio [link]="'/parcial/tablaPaises'" [titulo]="'Tabla paises'" [clase]="'1er Parcial'"></app-card-ejercicio>
        </div>
        <div class="col-4">
            <app-card-ejercicio [link]="'/parcial/altaActor'" [titulo]="'Alta de actor'" [clase]="'1er Parcial'"></app-card-ejercicio>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-4">
            <app-card-ejercicio [link]="'/parcial/actor/listado'" [titulo]="'Listado actores'" [clase]="'1er Parcial'"></app-card-ejercicio>
        </div>
    </div>
</div>